Config/database.php
Config/email.php
Config/security.php
Config/wasabi.php
Config/.installed
tmp/

# Ignore Sublime Text files
*.sublime*

# Ignore PhpStorm project files
.idea

# Ignore Mac specific files
.DS_Store

tags

# Ignore node packages
.node_modules
