[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git://github.com/frankfoerster/cakephp-migrations.git
[submodule "Plugin/Lessy"]
	path = Plugin/Lessy
	url = git://github.com/frankfoerster/cakephp-lessy.git
